<template>
  <div id="app">
    <router-view/>
  </div>
</template>

<script>
  export default {
    name:'App',
    created() {
      this.gainAtomPerSecond()
      this.save()
    },
    methods:{
      gainAtomPerSecond(){
        this.$store.dispatch('gainAtom').then(()=>{
          setTimeout(this.gainAtomPerSecond, 1000)
        })
      },
      save(){
        this.$store.dispatch('saveUniverse').then(() => {
          setTimeout(this.save, 10000)
        })
      }
    }
  }
</script>

<style lang="scss">
</style>
