<template>
  <div id="blueprints">
      <div class="row">
        <div class="col">
          <blueprint v-for="construct in constructs" :blueprint='construct'></blueprint>
        </div>
    </div>
  </div>
</template>

<script>
import Blueprint from './Blueprint'
export default {
  name: 'Blueprints',
  components: {Blueprint},
  computed:{
    constructs(){
      return this.$store.getters.getConstructs
    },
  },
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
</style>
