<template>
    <div id="blueprint"  class="container-fluid p-0 mb-3 border rounded">
  <div  class="  pt-2 pl-2 pr-2">

      <div class="row mb-2 mt-2">
        <div class="col-3">
          <div v-if="max_atoms >= blueprint.basePrice" ><img :src="'img/' + blueprint.name.toLowerCase() + '_1.png'" alt="" class="img-fluid"></div>
          <div v-else class="locked-image mb-2" ></div>
        </div>
        <div class="col-6 p-0">
          <p class="mb-0" v-if="max_atoms >= blueprint.basePrice">{{blueprint.name}}</p>
          <div class="mb-2 mt-1 locked" v-else :style="{width : '100px'}"></div>
          <p class="mb-0" v-if="max_atoms >= blueprint.basePrice">{{blueprint.atomGain}} <i class="fa fa-atom"></i> /s</p>
          <div class="mb-2 locked" v-else :style="{width : '70px'}"></div>
        </div>
        <div class="col-3">
          <div class="btn mt-3 float-right" :id="'buy' + blueprint.name" @click="buy" :class="blueprint.basePrice * (1 + blueprint.number) > atoms ? 'disabled btn-outline-light' : 'btn-primary'">
            <i class="fa fa-atom" v-if="max_atoms < blueprint.basePrice"></i> {{blueprint.basePrice * (1 + blueprint.number)}} <i v-if="max_atoms >= blueprint.basePrice" class="fa fa-atom"></i> <i v-else class="fa fa-lock"></i>
          </div>
          <div class="float-right" :class="blueprint.name.toLowerCase() + '-poper'">
          </div>
        </div>
    </div>
    </div>
  </div>
</template>

<script>
  import $ from 'jquery'
export default {
  name: 'Blueprint',
  props : ['blueprint'],
  data (){
    return {
    }
  },
  computed : {
    atoms(){
      return this.$store.getters.getAtoms
    },
    max_atoms(){
      return this.$store.getters.getMaxAtoms
    }
  },
  methods : {
    buy(){
      if(this.blueprint.basePrice * this.blueprint.number <= this.atoms){

      let top = $('#buy'+ this.blueprint.name).offset().top + $('#buy'+ this.blueprint.name).outerHeight() / 2;
      let left = $('#buy'+ this.blueprint.name).offset().left + $('#buy'+ this.blueprint.name).outerWidth();
      this.$store.dispatch('buy', this.blueprint)

      const popAStar = function(){
        $('.star-poper').append('<div class="pop" style="top:'+top+'px; left:'+left+'px"></div>')
        const x = Math.floor(Math.random() * ($(window).width() - 420) + 420 )
        const y = Math.floor(Math.random() * ($(window).height()))
        $('.star-poper .pop:last-child').animate({top: y, left: x, opacity: 0}, 1000, function(){
          $(this).remove()
        })
      }
      for(var i = 0; i < (this.blueprint.name === 'Star' ? 1 : 10);i++){
        setTimeout(popAStar, i*10)
      }
      }
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
  #blueprint{
    border-color: rgba(255,255,255,.2);
    background-color: rgba(255,255,255,.1);
  }

  .btn{
    position: relative;
    top: -10px;
  }

  .locked{
    height: 15px;
    background-color: rgba(0,0,0,.2);
    display: block;
  }

  .locked-image{
    background-color: rgba(0,0,0,.2);
    height: 55px;
    width: 100%;
  }

</style>

<style>

  .pop{
    position: fixed;
    width: 3px;
    height: 3px;
    background-color: #fff;
    -webkit-box-shadow: 0 0 5px 0px #fff;
    -moz-box-shadow: 0 0 5px 0px #fff;
    box-shadow: 0 0 5px 0px #fff;

    -webkit-animation-name: pop;
    -webkit-animation-duration: 10000ms;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: pop;
    -moz-animation-duration: 10000ms;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    -ms-animation-name: pop;
    -ms-animation-duration: 10000ms;
    -ms-animation-iteration-count: infinite;
    -ms-animation-timing-function: linear;
    animation-name: pop;
    animation-duration: 10000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }


</style>