<template>
    <div class="createteam">
        <div class="team-form rounded p-3">
            <div class="row" v-if="this.createteamError !== ''">
                <div class="col">
                    <div class="alert alert-danger">
                        <span>{{this.createteamError}}</span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col mb-2">
                    <span class="text-white ">
                        Enter the name of the new Team
                    </span>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <input @keyup.enter="createteam" type="text" class="form-control mb-2" v-model="name" placeholder="Team Name">
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="btn btn-outline-light float-right" @click="createteam">
                        <i class="fa fa-check"></i> Create
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>

  export default {
    name: 'createteam',
    data(){
      return {
        createteamError : '',
        name : ''
      }
    },
    methods: {
      createteam(){
        if(this.name.trim() != ''){
          this.$store.dispatch('createTeam', this.name).then(()=>{
            this.$router.replace('/')
          }).catch(err => {
            this.createteamError = err.response.data.data
          })
        }
      }
    },
  }
</script>

<style scoped lang="scss">
    .team-form{
        background-color: rgba(0,0,0,.3);
        border: 1px solid rgba(0,0,0,.3);
    }
</style>
