<template>
    <div class="game">
        <div class="container-fluid">
            <div class="universe-container"></div>
        </div>
    </div>
</template>

<script>
  import $ from 'jquery'

  export default {
    name: 'GameView',
    data(){
      return {
        constructsSaved : [],
      }
    },
    computed:{
      constructs(){
        return this.$store.getters.getConstructs
      },
    },
    mounted(){
      for (let i = 0; i < this.constructs.length; i++){
        this.constructsSaved.push({number :this.constructs[i].number, name : this.constructs[i].name})
        for (let j = 0; j < this.constructs[i].number; j++){
          switch (this.constructs[i].name.toLowerCase()) {
            case 'star' :
              this.initStar(j)
              break
            case 'constellation' :
              this.initConstellation(j)
              break
            case 'galaxy' :
              this.initGalaxy(j)
              break
            case 'nebula' :
              this.initNebula(j)
              break
            default:
              break
          }
        }
      }
    },
    methods:{
      async computeRandomPosition(){
        const x = Math.floor(Math.random() * ($(window).width() - 420) + 420 )
        const y = Math.floor(Math.random() * ($(window).height()))
        return {x:x,y:y}
      },
      async animateUniverseElement(elementId, index){
        const position = await this.computeRandomPosition()
        let animation = new Promise((resolve) => {
          const duration = Math.floor(Math.random() * (30000 - 10000) + 10000 )
          const opacity = Math.random()
          $(elementId).animate({top: position.y, left: position.x, opacity: opacity}, duration, 'linear', () => {})
          setTimeout(() => resolve(duration), duration)
        });
        await animation;
        this.animateUniverseElement(elementId, index)
      },
      async initStar(index){
        if(index < 50){
          let $newStar = '<div id="star_' + index + '"></div>'
          $('.universe-container').append($newStar)
          const position = await this.computeRandomPosition()
          $('#star_' + index).css({top: position.y + 'px', left: position.x + 'px'})
          $('#star_' + index).addClass('star')
          this.animateUniverseElement('#star_' + index, index)
        }
      },
      async initConstellation(index){
        if(index < 20){
          let $newConstellation = '<div id="constellation_' + index + '"><img src="/img/constellation_'+ (index%5 + 1) + '.png" alt=""></div>'
          $('.universe-container').append($newConstellation)
          const position = await this.computeRandomPosition()
          $('#constellation_' + index).css({top: position.y + 'px', left: position.x + 'px'})
          $('#constellation_' + index).addClass('constellation')
          this.animateUniverseElement('#constellation_' + index, index)
        }
      },
      async initGalaxy(index){
        if(index < 10){
          let $newGalaxy = '<div id="galaxy_' + index + '"><img src="/img/galaxy_1.png" alt=""></div>'
          $('.universe-container').append($newGalaxy)
          const position = await this.computeRandomPosition()
          $('#galaxy_' + index).css({top: position.y + 'px', left: position.x + 'px'})
          $('#galaxy_' + index).addClass('galaxy')
          this.animateUniverseElement('#galaxy_' + index, index)
        }
      },
      async initNebula(index){
        if(index < 3){
          let $newNebula = '<div id="nebula_' + index + '"><img src="/img/nebula_1.png" alt=""></div>'
          $('.universe-container').append($newNebula)
          const position = await this.computeRandomPosition()
          $('#nebula_' + index).css({top: position.y + 'px', left: position.x + 'px'})
          $('#nebula_' + index).addClass('nebula')
          this.animateUniverseElement('#nebula_' + index, index)
        }
      },
      prestige(){
        $('.star').remove()
        $('.constellation').remove()
        $('.galaxy').remove()
        $('.nebula').remove()
      }
    },
    watch:{
      constructs : {
        async handler(newVal) {
          let constructs = []
          for (let i = 0; i < newVal.length; i++) {
            if(newVal[i].number < this.constructsSaved[i].number){
              this.prestige()
              console.log($('.star'))
            }
            if (newVal[i].number !== this.constructsSaved[i].number) {
              constructs.push({name : newVal[i].name, number: newVal[i].number})
            }
          }
          for (let i = 0; i < constructs.length; i++) {
            if(constructs[i].number > 0) {
              switch (constructs[i].name.toLowerCase()) {
                case 'star' :
                  this.initStar(constructs[i].number)
                  break
                case 'constellation' :
                  this.initConstellation(constructs[i].number)
                  break
                case 'galaxy' :
                  this.initGalaxy(constructs[i].number)
                  break
                case 'nebula' :
                  this.initNebula(constructs[i].number)
                  break
                default:
                  break
              }
            }
          }
          this.constructsSaved = []
          for (let i = 0; i < this.constructs.length; i++) {
            this.constructsSaved.push({number :this.constructs[i].number, name : this.constructs[i].name})
          }
        },
        deep : true,
      }
    },
  }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">

    @-moz-keyframes spin {
        from { -moz-transform: rotate(0deg); }
        to { -moz-transform: rotate(-360deg); }
    }
    @-webkit-keyframes spin {
        from { -webkit-transform: rotate(0deg); }
        to { -webkit-transform: rotate(-360deg); }
    }
    @keyframes spin {
        from {transform:rotate(0deg);}
        to {transform:rotate(-360deg);}
    }

    .game{
        height: 100vh;
        -webkit-background-size: cover; /* pour anciens Chrome et Safari */
        background-size: cover; /* version standardisée */
    }

    .galaxy{
        height: 150px;
        -webkit-animation-name: spin;
        -webkit-animation-duration: 10000ms;
        -webkit-animation-iteration-count: infinite;
        -webkit-animation-timing-function: linear;
        -moz-animation-name: spin;
        -moz-animation-duration: 10000ms;
        -moz-animation-iteration-count: infinite;
        -moz-animation-timing-function: linear;
        -ms-animation-name: spin;
        -ms-animation-duration: 10000ms;
        -ms-animation-iteration-count: infinite;
        -ms-animation-timing-function: linear;
        animation-name: spin;
        animation-duration: 10000ms;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
    }
</style>

<style lang="scss">
    .star{
        width: 3px;
        height: 3px;
        background-color: #fff;
        -webkit-box-shadow: 0 0 5px 0px #fff;
        -moz-box-shadow: 0 0 5px 0px #fff;
        box-shadow: 0 0 5px 0px #fff;
    }

    .star, .constellation, .nebula, .galaxy{
        opacity: .1;
        position:fixed;
        display: inline-block;
    }
</style>