<template>
    <div class="jointeam team-form p-3 rounded">
        <div class="row" v-if="this.jointeamError !== ''">
            <div class="col">
                <div class="alert alert-danger">
                    <span>{{this.jointeamError}}</span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col mb-2">
                <vue-bootstrap-typeahead v-model="team" :data="teams" :serializer="s => s.name"/>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="btn btn-outline-light float-right" @click="jointeam">
                    <i class="fa fa-check"></i> Join
                </div>
            </div>
        </div>
    </div>
</template>

<script>
  export default {
    name: 'jointeam',
    computed :{
      teams() {
        return this.$store.getters.getTeams
      }
    },
    created(){
      if(this.teams.length === 0){
        this.$store.dispatch('fetchTeams').then(teams => {})
      }
    },
    data(){
      return {
        team : '',
        jointeamError: '',
      }
    },
    methods: {
      jointeam(){
        this.$store.dispatch('joinTeam', this.team).then(()=>{
          this.$router.replace('/')
        })
      },
    }
  }
</script>

<style scoped lang="scss">
    .team-form{
        background-color: rgba(0,0,0,.3);
        border: 1px solid rgba(0,0,0,.3);
    }
</style>
