<template>
  <div class="login">
    <div class="container-fluid">
      <div class="row">
        <div class="col">
          <h3 class="text-white">Sign in</h3>
        </div>
      </div>
      <div class="signin p-2 rounded text-white">
      <div class="row">
        <div class="col">
              <div class="row">
                <div class="col">
                  <input type="text" class="form-control mb-2" v-model="user.username" placeholder="Username">
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <input type="password" class="form-control mb-2" v-model="user.password" placeholder="Password">
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <div class="btn btn-primary float-right" @click="login">
                    <i class="fa fa-check"></i> Se connecter
                  </div>
                </div>
          </div>
        </div>
      </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="helper">
            <span>You do not have an account yet ?</span><span class="text-white register" @click="registering()"> Register now</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>

  export default {
    name: 'login',
    data(){
      return {
        user: {
          username : '',
          password : ''
        },
        loginError : ''
      }
    },
    methods: {
      registering(){
        this.$emit('registering');
      },
      login(){
        this.loginError = ''
        if(this.user.password.trim() !== '' && this.user.username.trim() !== ''){
          this.user.username = this.user.username.toLowerCase().trim()
          this.$store.dispatch('authenticate', this.user).then(()=>{
            this.$router.replace('/')
          }).catch(err => {
            console.log(err)
            this.loginError = err.response.data.user
          })
        } else {
            this.loginError = 'Both field are required'
        }
      }
    }
  }
</script>

<style scoped lang="scss">

  .signin{
    background-color: rgba(0,0,0,.3);
    border: 1px solid rgba(0,0,0,.3);
  }

  .helper{
    color: rgba(255,255,255,.4);
  }

  .register{
    cursor: pointer;
  }
</style>
