<template>
  <div id="profil">
    <div class="row">
      <div class="col">
        <p class="mb-2">Your profile :</p>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="player rounded p-2">
          <div class="row">
            <div class="col" v-if="user !== undefined">
              {{user.username.toLowerCase()}}
            </div>
            <div class="col">
              <div class="float-right">
                {{microwaves}} <i class="fas fa-water"></i>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col">
              {{user.team.name}}
            </div>
            <div class="col">
              <div class="float-right">
                {{atoms}} <i class="fa fa-atom"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Profil',
  data (){
    return {
    }
  },
  computed : {
    user(){
      return this.$store.getters.getCurrentUser
    },
    microwaves(){
      return this.$store.getters.getMicrowaves
    },
    atoms(){
      return this.$store.getters.getAtoms
    },
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
  .player{
    border: 1px solid rgba(0,0,0,.3);
    background-color: rgba(0,0,0,.3) ;
  }
</style>
