<template>
    <div class="register">
        <div class="container-fluid">
            <div class="row">
                <div class="col">
                    <h3 class="text-white">Register</h3>
                </div>
            </div>
            <div class="register-form p-2 rounded text-white">
                <div class="row">
                    <div class="col">
                        <div class="row" v-if="registrationError !== ''">
                            <div class="col">
                                <div class="alert alert-danger">
                                    <span>{{registrationError}}</span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <input type="text" class="form-control mb-2" v-model="user.username" placeholder="Username">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <input type="password" class="form-control mb-2" v-model="user.password" placeholder="Password">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <input @keyup.enter="register" type="password" class="form-control mb-2" v-model="user.passwordConfirmation" placeholder="Confirmation">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="btn btn-primary float-right" @click="register">
                                    <i class="fa fa-check"></i> Register
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="helper">
                        <span>You already have an account ?</span><span class="text-white sign-in" @click="signin()"> SignIn</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>

  export default {
    name: 'register',
    data(){
      return {
        user: {
          username: '',
          password: '',
          passwordConfirmation: ''
        },
        registrationError : ''
      }
    },
    methods: {
      signin(){
        this.$emit('signin');
      },
      register(){
        if(this.user.password !== this.user.passwordConfirmation){
          this.registrationError = 'Passwords does not match'
        } else {
          if(this.user.password.trim() !== '' && this.user.username.trim() !== '') {
            this.$store.dispatch('register', this.user).then(() => {
                this.$store.dispatch('authenticate', this.user).then(() => {
                  this.user.username = this.user.username.toLowerCase().trim()
                  this.$router.replace('/team')
                })
            }).catch(err => {
              console.log(err)
              this.registrationError = err.response.data.user
            })
          } else {
            this.registrationError = 'All field are required'
          }
        }
      },
    }
  }
</script>

<style scoped lang="scss">
    .register-form{
        background-color: rgba(0,0,0,.3);
        border: 1px solid rgba(0,0,0,.3);
    }

    .helper{
        color: rgba(255,255,255,.4);
    }

    .sign-in{
        cursor: pointer;
    }
</style>
