<template>
  <div id="sidebar">
    <div class="container-fluid">
      <div class="row">
        <div class="col">
          <div class="button-off mt-2 rounded-circle p-2 d-inline-block text-center" @click="logout()">
            <i class="fa fa-power-off"></i>
          </div>
          <div class="button-leaderboard mt-2 rounded-circle p-2 d-inline-block text-center float-right" @click="showLeaderboard()">
            <i class="fa fa-crown"></i>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <h4 class="mt-4 mb-3 text-center">Almost a God</h4>
        </div>
      </div>

      <profil></profil>

      <div class="row">
        <div class="col">
          <p class="mt-4">Blueprints : </p>
        </div>
      </div>
      <blueprints></blueprints>
      <div class="row">
        <div class="col">
          <p>Stats</p>
        </div>
      </div>
      <div class="row" v-for="construct in constructs">
        <div class="col">
          <span>{{construct.name}} : {{construct.number}}</span>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <span>atoms/s : {{atomsPerSecond}}</span>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <div class="text-center">
            <div class="btn" @click="prestige()" :class="microwaves > 200000 ? ' btn-success' : 'btn-outline-light disabled'"><span v-if="microwaves > 200000">PRESTIGE</span><span v-else>Unlocked at 200000 <i class="fas fa-water"></i></span></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Blueprints from './Blueprints'
import Profil from './Profil'
export default {
  name: 'Sidebar',
  components: {Profil, Blueprints},
  computed : {

    atomsPerSecond(){
      return this.$store.getters.getAtomsPerSecond
    },
    microwaves(){
      return this.$store.getters.getMicrowaves
    },
    constructs(){
      return this.$store.getters.getConstructs
    },

  },
  methods:{
    prestige(){
      this.$store.dispatch('updateTeam').then(()=>{
        this.$store.dispatch('prestige')
      })
    },
    showLeaderboard(){
      this.$emit("showLeaderboard")
    },
    logout(){
      this.$store.dispatch('logout').then(()=>{
        this.$router.replace('/login')
      })
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
  #sidebar{
    color: #fff;
    font-weight: 100;
    font-family: "Helvetica Neue";
  }

  .container-fluid{
    padding: 0;
  }


  .button-off, .button-leaderboard{
    border: 1px solid rgba(0,0,0,.3);
    background-color: rgba(0,0,0,.3) ;
    height: 40px;
    width: 40px;
    cursor: pointer;
    transition: all .15s;
    &:hover{
      background-color: #fff;
      color: #000;
    }
    i{
      position: relative;
      top: -1px;
    }
  }

</style>
