<template>
  <div class="auth">
    <div class="container-fluid" v-if="!isLoading">
      <div class="row">
        <div class="col">
          <h1 class="text-center pb-5">
            Almost A God
          </h1>
        </div>
      </div>
      <div class="row pt-4">
        <div class="col-4 offset-2">
          <div class="description pt-5 pb-5 pr-5 mt-4">
            <p class="text-right">Almost a god is a <strong>Cooperation</strong> incremental game.<br>
              Your goal will be to build, with your friends, the biggest Universe across the Multiverse.</p>
          </div>
        </div>
        <div class="col-4">
          <login v-if="!isRegistering" v-on:registering="isRegistering = true"></login>
          <register v-else v-on:signin="isRegistering = false"></register>
        </div>
      </div>
    </div>
  </div>
</template>

<script>

import Register from '../components/Register'
import Login from '../components/Login'

export default {
  name: 'auth',
  components: {Login, Register},
  data(){
    return {
      isLoading : true,
      isRegistering : true
    }
  },
  mounted(){
      if(localStorage.getItem('user') !== null){
        this.$store.dispatch('authenticate', JSON.parse(localStorage.getItem('user'))).then(()=>{
          this.$router.replace('/')
        })
      }
      else {
        this.isLoading = false
      }
  },
  methods: {
  }
}
</script>

<style scoped lang="scss">

  h1{
    font-size: 200px;
    color: rgba(0,0,0,.2);
  }
  .auth{
    height: 100vh;
    background-image: linear-gradient(to right top, #051937, #002565, #0a2d93, #422ebe, #7c19e4);
  }

  .description{
    color: rgba(255,255,255,.7);
    border-right: 1px solid rgba(255,255,255,.7);
  }
</style>
