<template>
  <div class="home">
    <div class="container-fluid">
      <div class="row" v-if="isAuthenticated">
        <div class="col-lg-3 col-md-4 sidebar shadow">
          <sidebar v-on:showLeaderboard="showLeaderboard()"></sidebar>
        </div>
        <div class="col-lg-9 col-md-8 ">
          <game-view></game-view>
        </div>
      </div>
  </div>

    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Leaderboard</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <table class="table">
              <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Microwaves</th>
                <th scope="col">Nb players</th>
              </tr>
              </thead>
              <tbody>
              <tr v-for="(team, index) in leaderboard">
                <td>{{index + 1}}</td>
                <td>{{team.name}}</td>
                <td>{{team.total_microwave}}</td>
                <td>{{team.users.length}}</td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

  </div>
</template>

<script>
// @ is an alias to /src
import Sidebar from '../components/Sidebar'
import GameView from '../components/GameView'
import Login from '../components/Login'
import Register from '../components/Register'

export default {
  name: 'home',
  computed : {
    isAuthenticated(){
      return this.$store.getters.isAuthenticated
    },
    user(){
      return this.$store.getters.getCurrentUser
    },
    leaderboard(){
      return this.$store.getters.getLeaderboard
    }
  },
  components: {
    Register,
    Login,
    GameView,
    Sidebar,
  },
  created(){
    if(!this.isAuthenticated){
      this.$router.replace('/login')
    } else if(this.user.team === undefined){
      this.$router.replace('/team')
    }
  },
  methods:{
    showLeaderboard(){
      this.$store.dispatch('fetchLeaderboard')
      $('#myModal').modal('toggle')
    }
  }
};
</script>

<style scoped lang="scss">
  .sidebar{
    background-color: rgba(0,0,0,.5);
    min-height: 100vh;
  }

  .home {
    background-image: linear-gradient(to right top, #051937, #002565, #0a2d93, #422ebe, #7c19e4);
    min-height: 100vh;
  }
</style>
