<template>
  <div class="team">
    <div class="container-fluid">
      <div class="row">
        <div class="col">
          <h1 class="text-center pb-5">
            Almost A God
          </h1>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row" v-if="!join && !create">
        <div class="col text-center">
          <span class="text-white">
            Do you want to create or join a team ?
          </span>
        </div>
      </div>
      <div class="row" v-if="!join && !create">
        <div class="col text-center mt-3 text-white">
          <div class="btn btn-outline-light mr-2" @click="create = true; join = false">Create</div>or
          <div class="btn btn-outline-light ml-2" @click="create = false; join = true">Join</div>
        </div>
      </div>
      <div class="row">
        <div class="col-6 offset-3" v-if="create">
          <CreateTeam></CreateTeam>
          <span>or you can <strong @click="create = false; join = true">join a team</strong></span>
        </div>
        <div class="col-6 offset-3" v-if="join">
          <JoinTeam></JoinTeam>
          <span>or you can <strong @click="create = true; join = false">create a team</strong></span>
        </div>
      </div>
    </div>
  </div>
</template>

<script>

  import JoinTeam from '../components/JoinTeam'
  import CreateTeam from '../components/CreateTeam'
  import router from '../router'
  export default {
    name: 'team',
    components: {CreateTeam, JoinTeam},
    data(){
      return {
        create : false,
        join : false,
      }
    },
    mounted(){

    },
    methods: {
      userHaveTeam(){
        //TODO savoir si l'user a une team...
        return false
      },
    }
  }
</script>

<style scoped lang="scss">
  .team{
    height: 100vh;
    background-image: linear-gradient(to right top, #051937, #002565, #0a2d93, #422ebe, #7c19e4);
  }
  h1{
    font-size: 200px;
    color: rgba(0,0,0,.2);
  }

  span{
    color: rgba(255,255,255,.2);
    strong{
      color:#fff;
      cursor: pointer;
    }
  }
</style>
